$font-stack:'Montserrat', sans-serif;
$primary-color:#4e4e4e;
$secondary-color:#e8e8e8;


body {
	font: 100% $font-stack;
	color: $primary-color;
	margin: 0;
	overflow-x: hidden;
}
nav{
	display: flex;
	align-items:center;
	justify-content: space-between ;
	padding: 20px 5%;
	a{
		position: relative;
		order: 1;
		text-align: center;
		font-weight:bold;
		font-size: 12px;
		text-decoration: none;
		color:$primary-color;
	}
	a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 4px;
		bottom: -5px;
		left: 0;
		background-color: #000;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	svg{
		width:150px;
		order: 0;
	}
}
.home-wrapper{
	width:90vw;
	padding:10px 5vw;
	.left-content{
		width:  55.5vw;
		height: 34.5vw;
		float: left;
		padding: 0;
		margin: 0;
	}
	.right-content{
		width:  30.5vw;
		height: 34.5vw;
		float: right;
		padding: 0;
		h2{
			font-weight: 800;
			line-height: 22px;
			letter-spacing: 10px;
			color: $primary-color;
			margin: 0;
		}
		h4{
			font-weight: 300;
			line-height:47px;
			letter-spacing: 3px;
			color: $primary-color;
			margin: 0;
		}
		p{
			font-size: 12px;
			line-height: 16px;
			text-align: justify;
			letter-spacing: 2px;
			color: #a7a5a5;
			margin: 0;
		}
	}
}
