$font-stack:'Montserrat', sans-serif;
$primary-color: #000;

body {
	font: 100% $font-stack;
	color: $primary-color;
	margin: 0;
}
nav{
	display: flex;
	justify-content: center;
	a{
		order: 1;
		width: 100%;
		text-align: center;
		font-weight:bold;
		font-size: 14px;
		margin-top:50px;
		text-decoration: none;
		color:$primary-color; 
		svg{
			margin-top: -28px;
			width:226px;
		}
	}
}
